<IfModule dir_module>
    DirectoryIndex location.php
</IfModule>
AddDefaultCharset utf-8

# Custom 404 Not Found Error Page
php_value display_errors 1
ErrorDocument 404 http://localhost/ipo-15/ERPS.diplom/ver6/project/pages/404.php
